
@{
    ViewBag.Title = "Show";
}

<h2>Show Method of Bike Controller</h2>
<h2>@ViewBag.Message4</h2>
<h2>@ViewBag.Message2</h2>
<h2>@ViewBag.Message3</h2>
<h2>@ViewBag.Message1</h2>
<h2>@ViewBag.Message5</h2>

